.container {
  align-items: center;
  background-image: url('../../images/hour.svg');
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.container img {
  width: 100%;
}

.container_title h1 {
  color: #7843e6;
  font-family: Bungee, cursive;
  font-size: 144px;
  font-weight: 400;
  line-height: 100px;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: -4px 4px 0 fuchsia, 4px -4px 0 aqua;
}

.container_title h2 {
  color: white;
  font-family: Bungee, cursive;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 25px;
  text-align: center;
  text-shadow: 4.5px 1.1px 0 aqua, -4.5px -1.1px 0 fuchsia;
}

.container_img_and_login {
  align-items: center;
  background-color: white;
  border-radius: 50px;
  box-shadow: 12px 12px 0 #545454;
  display: flex;
  height: 450px;
  justify-content: center;
  margin: auto;
  width: 700px;
}

hr {
  border: 1px solid black;
  height: 62.2%;
  margin: auto;
}

.img_login {
  align-items: center;
  display: flex;
  height: 50%;
  justify-content: center;
  margin: auto 5%;
  width: 40%;
}

.img_login img {
  height: 100%;
  width: 80%;
}
