:root {

  --darkBlue: rgba(10, 78, 177, 1);

  --middleBlue: rgba(57, 111, 190, 1);

  --lightBlue: rgba(123, 154, 200, 1);

  --purple: #470a57;

  --radialBlue: var(--lightBlue) 11% , var(--middleBlue) 37% , var(--darkBlue) 76%;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}